*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  background-color: #242424;
}

h1{
  font-size: 3rem;
  color: rgb(179, 177, 177);
}
ul{
  overflow-y: scroll;
}

li{
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style-type: none;
  background-color: rgb(113, 109, 109);
  border: 1px solid #e3e2e2;
  padding: 1%;
  margin: 1% 0;
  background-color: rgb(179, 177, 177);
  border-radius: .7rem;
}

button{
  background-color:  rgb(179, 177, 177);
  border: none;
  cursor: pointer;
}

.container{
  padding: 3%;
  height: 100vh;
}

.header{
  height: 7%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.input-container{
  height: 6%;
  margin: 4% 0 5% 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.list{
    font-family: "Sour Gummy", sans-serif;
    height: 69%;

}

.input{
  font-family: "Edu AU VIC WA NT Pre", cursive;
  background-color: rgb(179, 177, 177);
  border: #403f3f;
  padding: .3%;
  border-radius: .7rem;
}

.input-button{
  width: 10%;
  font-size: 1rem;
}
.input-button:hover{
  background-color: #403f3f;
  cursor: pointer;
}

.input-tag{
  width: 70%;
}

.action-container{
  width: 6%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-right: 1%;
}


